.app__about {
    height: 40vh;
}

.app__about-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row-reverse;
    width: 50vw;
    align-items: center;
    margin-left: 25%;
    margin-top: 5rem;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

.app__about__text {
}

.app__about-header {
    text-align: center;
    color: var(--weldon-blue);
    font-size: 3rem;
}

.p-text {
    text-align: center;
}

.app__about-mission {
    text-align: center;
    width: 50%;
    padding-top: 35%;
    margin-right: 1rem;
}

.app__about-image {
    justify-content: space-around;
}

.app__about-image img {
    height: 500px;
    border-radius: 15px;
}