:root {
  --light-silver: #d9d9d9;
  --opal: #adc2bf;
  --weldon-blue: #779caf;
  --black-shadows: #c0b9b2;
  --bone: #e0DDCA;
  --pale-silver: #cbb6c1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
